.inputWraper {
  display: flex;
  align-items: center;
}

@keyframes expandWidth {
  100% {
    width: 250px;
  }
}

.input {
  padding-left: 35px;
  width: 0px;
  height: 24px;
  background-color: var(--black-50);
  border-color: var(--white-100);
  color: var(--white-100);
  font-size: 0.8rem;
  border-width: 1px;
  border-style: solid;
  animation: expandWidth 1s forwards;
}

.input:focus-visible {
  outline: none;
}

.inputIcon {
  position: absolute;
  color: var(--white-100);
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 4px;
}

.iconLupa {
  width: 20px;
  height: 20px;
  color: var(--white-100);
  cursor: pointer;
  margin: 4px;
}

@media (width <= 500px) {
  .iconLupa {
    display: none;
  }
}
